
<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.text_area :title, class: 'title-input', rows: 1, data: { controller: 'autoexpand-textarea', action: 'input->autoexpand-textarea#expand' } %>

  <div class="field">
    <%= form.rich_text_area :content %>
  </div>

  <div class="actions">
    <span class="actions__group">
      <%= form.button class: 'actions__button' %>
    </span>
  </div>
<% end %>
